BODY {
	font-size: 12px;text-align:center;OVERFLOW-X: hidden; MARGIN: 0px; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.crupage_zt {
	FONT-FAMILY: "宋体"; COLOR: #999999; FONT-SIZE: 12px; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
A:visited {
	FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.lanmu_title_td {
	PADDING-LEFT: 30px; FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; FONT-WEIGHT: 700; TEXT-DECORATION: none; PADDING-TOP: 13px
}
A.link10:link {
	FONT-FAMILY: "宋体"; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
A:active {
	FONT-FAMILY: "宋体"; COLOR: #990000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.link10:hover {
	FONT-FAMILY: "宋体"; COLOR: #cc0000; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.right_table_border {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
.title_zt_ffffff {
	FONT-FAMILY: "宋体"; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: 700; TEXT-DECORATION: none
}
A.link10:visited {
	FONT-FAMILY: "宋体"; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
A.link10:active {
	FONT-FAMILY: "宋体"; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.td_gonggao_border {
	BORDER-BOTTOM: #999999 1px solid
}
.iframe_style {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #f1f2f2 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #f1f2f2 1px solid
}
.xianlan_contents {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.three_title_zt {
	LINE-HEIGHT: 30px; FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 16px; FONT-WEIGHT: 600; TEXT-DECORATION: none
}
.three_title_date {
	FONT-FAMILY: "宋体"; COLOR: #999999; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.link_link1 {
	TEXT-ALIGN: center; BACKGROUND-POSITION: center center; VERTICAL-ALIGN: middle
}
.zt12px {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.td_more {
	
}
#left_table TD A {
	FONT-FAMILY: ""; FONT-SIZE: 14px; FONT-WEIGHT: 300; TEXT-DECORATION: none
}
#div_gongdong1 {
	WIDTH: 731px; HEIGHT: 70px; OVERFLOW: hidden; PADDING-TOP: 18px
}
#left_table1 TD A {
	TEXT-ALIGN: left; FONT-FAMILY: ""; FONT-SIZE: 14px; FONT-WEIGHT: 300; TEXT-DECORATION: none
}
A:visited {
	FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.synew_class1 {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 8px; PADDING-TOP: 8px
}
A:hover {
	FONT-FAMILY: ""; COLOR: #006699; FONT-SIZE: 14px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.sy_new_div {
	DISPLAY: none; CURSOR: pointer
}
.left_down_td {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: ""; BACKGROUND-POSITION: left 50%; VERTICAL-ALIGN: top; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#keji_zk .left_down_td IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; FONT-FAMILY: ""; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: none
}
A {
	FONT-FAMILY: ""; COLOR: #333333; FONT-SIZE: 14px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.table1 {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid
}
.zy_news_title {
	TEXT-ALIGN: center; FONT-FAMILY: ""; HEIGHT: 25px; COLOR: #003366; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; CURSOR: pointer; FONT-WEIGHT: lighter; TEXT-DECORATION: none; PADDING-TOP: 5px
}
#left_table1 TD {
	TEXT-ALIGN: left; PADDING-LEFT: 42px; FONT-FAMILY: ""; FONT-SIZE: 14px; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
#right_gonggao TD A {
	TEXT-ALIGN: left; LINE-HEIGHT: 18px; FONT-FAMILY: ""; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.border_padding {
	BORDER-BOTTOM: #f8f2f5 1px solid; BORDER-LEFT: #f8f2f5 1px solid; FONT-FAMILY: "宋体"; FONT-SIZE: 12px; BORDER-TOP: #f8f2f5 1px solid; BORDER-RIGHT: #f8f2f5 1px solid; TEXT-DECORATION: none
}
#right_gonggao TD A:hover {
	LINE-HEIGHT: 18px; FONT-FAMILY: ""; COLOR: #006699; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.fontct {
	BACKGROUND-IMAGE: url(kl888.jpg); TEXT-ALIGN: center; PADDING-BOTTOM: 5px; PADDING-LEFT: 2px; FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; VERTICAL-ALIGN: bottom; CURSOR: pointer; FONT-WEIGHT: 800; TEXT-DECORATION: none; PADDING-TOP: 6px
}
.center_keji_bg {
	BACKGROUND-IMAGE: url(kl999.jpg); TEXT-ALIGN: center; PADDING-BOTTOM: 5px; PADDING-LEFT: 2px; FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; VERTICAL-ALIGN: bottom; CURSOR: pointer; FONT-WEIGHT: 800; TEXT-DECORATION: none; PADDING-TOP: 6px
}
.zy_right_back {
	TEXT-ALIGN: center; FONT-FAMILY: "宋体"; BACKGROUND-POSITION: center 50%; LETTER-SPACING: 3px; COLOR: #003366; FONT-SIZE: 14px; FONT-WEIGHT: 700; WORD-SPACING: 3px; TEXT-DECORATION: none
}
.center_table {
	FONT-FAMILY: ""; COLOR: #003366; FONT-SIZE: 12px; FONT-WEIGHT: bolder; TEXT-DECORATION: none; PADDING-TOP: 12px
}
.zt12 {
	FONT-FAMILY: "宋体"; COLOR: #999999; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.link1:link {
	FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.left_daohang {
	TEXT-ALIGN: center; FILTER: Alpha(Opacity=80); FONT-FAMILY: "宋体"; LETTER-SPACING: 3px; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: 800; WORD-SPACING: 3px; TEXT-DECORATION: none
}
.two_table_top_marin {
	PADDING-TOP: 25px
}
.two_table_td_content {
	PADDING-LEFT: 15px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.link1:visited {
	FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
A.link1:hover {
	FONT-FAMILY: "宋体"; COLOR: #990000; FONT-SIZE: 14px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
A.link1:active {
	FONT-FAMILY: "宋体"; COLOR: #990000; FONT-SIZE: 14px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
A.link5:link {
	LINE-HEIGHT: 23px; COLOR: #990000; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
A.link5:visited {
	LINE-HEIGHT: 23px; FONT-FAMILY: ""; COLOR: #cc0000; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
A.link5:hover {
	LINE-HEIGHT: 23px; FONT-FAMILY: ""; COLOR: #993333; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
A.link5:active {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; COLOR: #cc0000; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
A.link3:link {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; FONT-WEIGHT: 600; TEXT-DECORATION: none
}
A.link3:visited {
	LINE-HEIGHT: 23px; COLOR: #003366; FONT-SIZE: 14px; FONT-WEIGHT: 600; TEXT-DECORATION: none
}
A.link3:hover {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; FONT-WEIGHT: 600; TEXT-DECORATION: none
}
A.link3:active {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; FONT-WEIGHT: 600; TEXT-DECORATION: none
}
A.link4:link {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: 600; TEXT-DECORATION: none
}
A.link4:visited {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: 600; TEXT-DECORATION: none
}
A.link4:hover {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: 600; TEXT-DECORATION: none
}
A.link4:active {
	LINE-HEIGHT: 23px; FONT-FAMILY: "宋体"; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: 600; TEXT-DECORATION: none
}
.sy_new_div1 {
	DISPLAY: block; CURSOR: pointer
}
.zy_news_title1 {
	TEXT-ALIGN: center; FONT-FAMILY: ""; HEIGHT: 25px; COLOR: #ff3333; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; CURSOR: pointer; FONT-WEIGHT: lighter; TEXT-DECORATION: none; PADDING-TOP: 5px
}
.tupianku_center {
	VERTICAL-ALIGN: middle; PADDING-TOP: 10px
}
.td_tupianku {
	TEXT-ALIGN: center; VERTICAL-ALIGN: middle
}
SELECT {
	TEXT-ALIGN: center; FONT-FAMILY: ""; VERTICAL-ALIGN: middle; TEXT-DECORATION: none
}
OPTION {
	TEXT-ALIGN: center; VERTICAL-ALIGN: middle
}
.two_lanmupic_td {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: ""; TEXT-DECORATION: none; PADDING-TOP: 14px
}
.two_lanmutitle {
	PADDING-LEFT: 20px; FONT-FAMILY: ""; COLOR: #003366; FONT-SIZE: 14px; FONT-WEIGHT: 800; TEXT-DECORATION: none; PADDING-TOP: 2px
}
A.two_content:link {
	FONT-FAMILY: ""; COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.two_lanmu_pic_border {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; PADDING-TOP: 2px
}
.zt12px1 {
	LINE-HEIGHT: 25px; FONT-FAMILY: "宋体"; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none; PADDING-TOP: 10px
}
.tupian_border {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; PADDING-TOP: 2px
}
.tupian_border1 {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; PADDING-TOP: 6px
}
#left_table TD {
	PADDING-LEFT: 42px; FONT-FAMILY: ""; FONT-SIZE: 14px; FONT-WEIGHT: 300; TEXT-DECORATION: none; LEFT: 42px
}
.zt14 {
	FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; FONT-WEIGHT: 700
}
.zt14px {
	FONT-FAMILY: "宋体"; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
.daohang_table {
	FLOAT: left
}
.table {
	BORDER-BOTTOM: #e3e4e5 1px solid; BORDER-LEFT: #e3e4e5 1px solid; FONT-FAMILY: "宋体"; FONT-SIZE: 12px; BORDER-TOP: #e3e4e5 1px solid; BORDER-RIGHT: #e3e4e5 1px solid; TEXT-DECORATION: none
}
.date_style {
	FONT-FAMILY: "宋体"; COLOR: #999999; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.title_link:link {
	FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.table_bianju {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; PADDING-TOP: 7px
}
A.link_norm:link {
	FONT-FAMILY: "宋体"; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.lanse_title_texiao1 {
	FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
.lanse_title_texiao2 {
	FONT-FAMILY: "宋体"; COLOR: #990000; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
.lanmu_style1 {
	BACKGROUND-IMAGE: url(y2.gif); FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
.lanmu_style2 {
	BACKGROUND-IMAGE: url(y1.gif); FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
.table_notop {
	BORDER-BOTTOM: #e3e4e5 1px solid; BORDER-LEFT: #e3e4e5 1px solid; BORDER-RIGHT: #e3e4e5 1px solid
}
A.link_norm:hover {
	FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
A.link_norm:visited {
	FONT-FAMILY: "宋体"; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
A.title_link:hover {
	FONT-FAMILY: "宋体"; COLOR: #990000; FONT-SIZE: 14px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
A.title_link:visited {
	FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.left_daohang_zt {
	FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; FONT-WEIGHT: 700; TEXT-DECORATION: none
}
.table_left_title {
	FONT-FAMILY: "宋体"; BORDER-RIGHT: #cccccc 1px solid; TEXT-DECORATION: none
}
.baise_title {
	FONT-FAMILY: "宋体"; LETTER-SPACING: 2px; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: 700; BORDER-RIGHT: #bbbbbb 1px solid; WORD-SPACING: 2px; TEXT-DECORATION: none
}
.lanse_title {
	FONT-FAMILY: "宋体"; COLOR: #003366; FONT-SIZE: 14px; FONT-WEIGHT: 800; TEXT-DECORATION: none
}
.pindao_zt {
	FONT-FAMILY: "宋体"; COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: 500; TEXT-DECORATION: none
}
A.link2:link {
	LINE-HEIGHT: 23px; FONT-FAMILY: ""; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
A.link2:visited {
	LINE-HEIGHT: 23px; FONT-FAMILY: ""; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
A.link2:hover {
	LINE-HEIGHT: 23px; FONT-FAMILY: ""; COLOR: #993333; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
A.link2:active {
	LINE-HEIGHT: 23px; FONT-FAMILY: ""; FONT-SIZE: 12px; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.table2 {
	BORDER-BOTTOM: #e3e4e5 1px solid; BORDER-LEFT: #e3e4e5 1px solid; BACKGROUND-COLOR: #f7f7f7; FONT-FAMILY: "宋体"; FONT-SIZE: 12px; BORDER-TOP: #e3e4e5 1px solid; BORDER-RIGHT: #e3e4e5 1px solid; TEXT-DECORATION: none
}
