td
{	font-family: "宋体", "新宋体", "华文中宋", "黑体";
	font-size: 12px;
	color: #084590;

}
.table_left {
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #90BFEA;
	border-right-color: #90BFEA;
	border-bottom-color: #90BFEA;
	border-left-color: #90BFEA;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.list_date {
	font-family: "宋体", "新宋体", "华文中宋", "黑体";
	font-size: 14px;
	color: #084590;
	text-decoration: none;
}
.BM_Z {
	font-family: "宋体", "新宋体", "华文中宋", "黑体";
	font-size: 14px;
	color: #01336A;
	text-decoration: none;
}

.news_list {
	padding-top: 2px;
	padding-left: 10px;
}
.list_date:hover {
	text-decoration: none;
	color: #3399CC;
	font-size: 14px;
}
.MX {
	border: 1px solid #C3C5C7;
}
.MX_Z {
	font-family: "宋体", "新宋体", "华文中宋", "黑体";
	font-size: 14px;
	font-weight: bold;
	color: #006699;
	text-decoration: none;
}

.bt {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #003366;
	text-decoration: none;
	padding-left: 50px;
}


.table_W {
	padding-top: 5px;
}
.table_W2 {
	padding-bottom: 5px;
}
.MX_BG {
	padding: 2px;
	border: 2px solid #FFFFFF;
}



.XZdh {
	font-family: "宋体", "新宋体", "华文中宋", "黑体";
	font-size: 14px;
	line-height: normal;
	color: #084590;
	text-decoration: none;
	padding-left: 6px;
}
.td_DH {
	padding-left: 0px;
	padding-top: 20px;
}
.a1:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: normal;
	text-decoration: none;
}

.a1 {
	font-family: 宋体, 新宋体, 华文中宋, 黑体;
	font-size: 12px;
	color: #084590;
}
.new_table {
	padding: 5px;
}
.new_table2 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #C0CFDA;
	border-left-color: #C0CFDA;
	border-bottom-color: #C0CFDA;
}
.new_table3 {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #C0CFDA;
}
.TZGG {
	border: 1px solid #B0D0F0;
}
.XZSP {
	font-family: "宋体", "新宋体", "华文中宋", "黑体";
	font-size: 14px;
	color: #0F5DB2;
	text-decoration: none;
}

.new_ZD {
	font-family: "黑体", "华文细黑", "宋体", "新宋体";
	font-size: 20px;
	line-height: normal;
	font-weight: normal;
	color: #1e3a81;
	text-decoration: none;
	padding-left: 20px;
}
.list_table {
	border: 5px solid #EAF5FF;
}




.a1:visited {
	text-decoration: none;
	color: #084590;
}
.a1:hover {
	text-decoration: underline;
	color: #084590;
}
.a1:active {
	text-decoration: none;
	color: #084590;
}
.a2:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: normal;
	text-decoration: none;
}
.a2 {
	font-family: 宋体, 新宋体, 华文中宋, 黑体;
	font-size: 12px;
	color: #66ccff;
}
.a2:visited {
	text-decoration: none;
	color: #66ccff;
}
.a2:hover {
	text-decoration: underline;
	color: #66ccff;
}
.a2:active {
	text-decoration: none;
	color: #66ccff;
}



.a3:link{color:#084590;text-decoration:none;font-family: 宋体, 新宋体, 华文中宋, 黑体;font-size: 12px;}
.a3:visited{COLOR:#084590;TEXT-DECORATION:none}
.a3:active{color:#0066CC;text-decoration:none}
.a3:hover{color:#0066CC;text-decoration:none}


.a4:link{color:#084590;text-decoration:none;font-family: 宋体, 新宋体, 华文中宋, 黑体;font-size: 14px;}
.a4:visited{COLOR:#084590;TEXT-DECORATION:none;font-size: 14px;}
.a4:active{color:#0066CC;text-decoration:none;font-size: 14px;}
.a4:hover{color:#0066CC;text-decoration:none;font-size: 14px;}


.a5:visited {
	text-decoration: none;
	color: #084590;
	font-size: 12px;
}
.a5:hover {
	text-decoration: none;
	color: #3399CC;
	font-size: 12px;
}
.a5:active {
	text-decoration: none;
	color: #084590;
	font-size: 12px;
}

.a6:link{
color:#084590;
text-decoration:none;
font-size: 12px;}
.a6:visited{COLOR:#084590;TEXT-DECORATION:none;font-size: 12px;}
.a6:active{color:#0066CC;text-decoration:none;font-size: 12px;}
.a6:hover{color:#0066CC;text-decoration:none;font-size: 12px;}

.a7:link{
color:#084590;
text-decoration:none;
font-size: 14px;}
.a7:active{color:#0066CC;text-decoration:none;font-size: 14px;}
a.a7:visited {
	font-size: 14px;
	color: #084590;
	text-decoration: none;
}
.a7:hover{color:#0066CC;text-decoration:none;font-size: 14px;}

.bt2 {

	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #003399;
	text-decoration: none;
}
.BM_table1 {
	border: 5px solid #FFFFFF;
}
.BM_tableW {
	border: 1px solid #90BFEA;
}
.BM_tableX {
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 5px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
.YJ {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #90BFEA;
	border-left-color: #90BFEA;
}
.XU {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #1E448D;
}
.XU2 {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #80A5F3;
}
.btCopy {

	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
