body 
{
	margin:0;
	font-family: "宋体";
	font-size: 9pt;
}

A:link 
{
	COLOR: #333333;
	text-decoration: none
}

A:visited 
{
	COLOR: #333333;
	text-decoration: none
}

A:active
 {
	COLOR: #333333;
	text-decoration: none
}

A:hover 
{
	COLOR: #FF0000;
	text-decoration: none;
	position: relative;
	right: 0px;
	top: 0px
}

.new 
{
	font-family: "宋体����";
	font-size: 9pt;
	color: #333333;
	letter-spacing: 1px;
	line-height: 160%
}

td 
{
	font-family:"宋体" ����;
	font-size: 9pt;
	line-height: 13pt;
}

.border
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
}

.grayline 
{
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
}
#messageboard{
	margin-left:21.9%;
	width:718px;
	padding-left: 40px;
	border: thin solid;
	border-color:black;
	height: 200px;
}
#headpic{
	border: thin solid;
	width:200px;
	margin-left:-40px;
	height:100px;
}
#picture{


	position:relative;
	left:50px;
}
#uname{


	border: thin solid;
	border-color: red;
	width:200px;
	margin-left:-40px;
	height:97px;
	text-align: center;
}
#topic{


	width:555px;
	height:20px;
	margin-left:162px;
	margin-top:-202px;
	border-color:blue;
	border: thin solid;
	text-align: center;
}
#content1{
	width:555px;
	height:180px;
	border: thin solid;
	margin-left:162px;
	border-color:blue;
	background-color: grey;
}
#Recontent{
	width:450px;
	height:100px;
	margin:50px;
	background-color: green;
}
#admintable{
	border:solid 1px red;
	border-color: blue;
	
	
	
}
#pageSplit{
	width:758px;
	height:70px;
	border: thin solid;
	margin-left:21.9%;
}